.container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.logo{
    font-size: 30px;
    font-weight: bold;
    line-height: 90%;
    text-align: center;
}